On Shopify, we have exactly 100 sneaker shops, and each of these shops sells only one model of shoe. We want to do some analysis of the average order value (AOV). When we look at orders data over a 30 day window, we naively calculate an AOV of $3145.13. Given that we know these shops are selling sneakers, a relatively affordable item, something seems wrong with our analysis. 

1)Think about what could be going wrong with our calculation. Think about a better way to evaluate this data. 
2)What metric would you report for this dataset?
3)What is its value?

In [49]:
#import packages
import pandas as pd

In [7]:
#pip install pandas

In [5]:
df = pd.read_csv("DS.csv")

In [6]:
df

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11
...,...,...,...,...,...,...,...
4995,4996,73,993,330,2,debit,2017-03-30 13:47:17
4996,4997,48,789,234,2,cash,2017-03-16 20:36:16
4997,4998,56,867,351,3,cash,2017-03-19 5:42:42
4998,4999,60,825,354,2,credit_card,2017-03-16 14:51:18
4999,5000,44,734,288,2,debit,2017-03-18 15:48:18

In [18]:
#Inspecting the DataFrame
df.value_counts()

order_id  shop_id  user_id  order_amount  total_items  payment_method  created_at
1         53       746      224           2            cash            2017-03-13 12:36:56    1
3331      96       702      306           2            credit_card     2017-03-17 18:44:34    1
3338      9        709      236           2            debit           2017-03-18 10:39:22    1
3337      21       905      284           2            cash            2017-03-09 20:23:46    1
3336      35       788      492           3            debit           2017-03-26 11:15:36    1
                                                                                             ..
1667      96       895      153           1            credit_card     2017-03-11 2:49:42     1
1666      15       855      306           2            cash            2017-03-22 5:27:28     1
1665      36       936      390           3            debit           2017-03-09 15:12:13    1
1664      85       813      516           3            debit           2017-03-30 3:41:35     1
5000      44       734      288           2            debit           2017-03-18 15:48:18    1
Length: 5000, dtype: int64

In [39]:
# Investigating what went wrong in calculation 

# inspecting the feature sums of' order_amount' & 'total_items'
aovSum = df['order_amount'].sum()
itemSum = df['total_items'].sum()

print(aovSum)
print(itemSum)

15725640
43936

In [46]:
# Calculating the mean (AOV) by dividing total order amount by the total items amount.
AOV = aovSum/itemSum

#Rounding AOV to two decimal places.
round(AOV, 2)

357.92

In [47]:
# Incorrect metrice that was being used for the calculation of AOV as a mistaken count() instead of sum() function
aovSum = df['order_amount'].sum()
itemsCount = df['total_items'].count()
AOV = aovSum/itemsCount
print(AOV)

3145.128