<b>Question 2:</b> For this question youâ€™ll need to use SQL. <a href="https://www.w3schools.com/SQL/TRYSQL.ASP?FILENAME=TRYSQL_SELECT_ALL">Follow this link</a> to access the data set required for the challenge. Please use queries to answer the following questions. Paste your queries along with your final numerical answers below.

1) How many orders were shipped by Speedy Express in total?
2) What is the last name of the employee with the most orders?
3) What product was ordered the most by customers in Germany?

In [6]:
# import packages
# import pandas as pd
# import sqlite3 

# connect database and create cursor
# conn = sqlite3.connect('https://www.w3schools.com/SQL/TRYSQL.ASP?FILENAME=TRYSQL_SELECT_ALL')
# cur = conn.cursor()

# executing the query
#cur.execute("""SELECT * FROM Customers;""")

# creating a dataframe object
#df = pd.DataFrame(cur.fetchall())

# find database attributes from cursor.description to use as column names
#cur.description

# creating dataframe columns
# df.columns = [x[0] for x in cur.description]
# df.head()

-- a) How many orders were shipped by Speedy Express in total?

CREATE VIEW Shipper_Orders AS
SELECT Orders.OrderID, Orders.ShipperID, Shippers.ShipperName
FROM Orders 
JOIN Shippers
ON Shippers.ShipperID=Orders.ShipperID;

SELECT COUNT(*) FROM [Shipper_Orders]
WHERE ShipperName = 'Speedy Express';

ANSWER: 54

-- b) What is the last name of the employee with the most orders? 

CREATE VIEW Employee_Orders AS 
SELECT Orders.EmployeeID, Employees.LastName, Orders.OrderID
FROM Orders
JOIN Employees
ON Employees.EmployeeID=Orders.EmployeeID; 

SELECT LastName, COUNT(*)
FROM Employee_Orders
GROUP BY LastName
ORDER BY COUNT(*) desc;

ANSWER: Peacock, 40 

-- c) What product was ordered the most by customers in Germany?

CREATE VIEW Products_Ordered AS
SELECT Orders.OrderID, Customers.Country, OrderDetails.Quantity, Products.ProductName
FROM Orders, OrderDetails
JOIN Customers ON Orders.CustomerID=Customers.CustomerID
JOIN Products ON OrderDetails.ProductID=Products.ProductID
WHERE Country='Germany';

CREATE VIEW Product_Orders AS
SELECT ProductName, Quantity, COUNT(*) as 'Orders'
FROM Products_Ordered
GROUP BY ProductName;

SELECT ProductName, Quantity, Orders, (Quantity * Orders) AS TotalOrdered
FROM Product_Orders
ORDER BY TotalOrdered desc
LIMIT 1;

Answer:  

ProductName - Camembert Pierrot
Quantity - 40 
Orders - 300
TotalOrdered - 12000